@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#root,
body,
html {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(115, 23, 151), rgb(27, 10, 57));
  background-position: fixed;
}

:root {
  --purple-color: rgb(115, 23, 151);
  --blue-color: rgb(27, 10, 57);
  --purple-text-color: #fff;
  --blue-text-color: #fff;
  --purple-border-color: rgb(115, 23, 151);
  --blue-border-color: rgb(27, 10, 57);
  --purple-hover-color: rgba(115, 23, 151, 0.8);
  --blue-hover-color: rgba(27, 10, 57, 0.8);
}

body {
  color: var(--purple-text-color);
  background-color: var(--blue-color);
}

a {
  color: var(--purple-color);
  text-decoration: none;
}

a:hover {
  color: var(--purple-hover-color);
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: var(--purple-text-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-purple {
  color: var(--purple-text-color);
  background: linear-gradient(#e214da, #e7099e);
  border-color: var(--purple-color);
  transition: 0.7s linear;
}

.btn-purple:hover {
  color: var(--purple-text-color);
  background-color: var(--purple-hover-color);
  border-color: var(--purple-hover-color);
  opacity: 0.7;
}

.btn-blue {
  color: var(--blue-text-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.btn-blue:hover {
  color: var(--blue-text-color);
  background-color: var(--blue-hover-color);
  border-color: var(--blue-hover-color);
}

/* Outline Buttons */
.btn-outline-purple {
  color: #fff;
  background-color: transparent;
  border-color: var(--purple-color);
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.btn-outline-blue {
  color: var(--blue-color);
  background-color: transparent;
  border-color: var(--blue-color);
}

.btn-outline-blue:hover {
  color: var(--blue-text-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

/* Text Colors */
.text-purple {
  color: var(--purple-color) !important;
}

.text-blue {
  color: var(--blue-color) !important;
}

/* Background Colors */
.bg-purple {
  background-color: var(--purple-color) !important;
  color: var(--purple-text-color) !important;
}

.bg-blue {
  background-color: var(--blue-color) !important;
  color: var(--blue-text-color) !important;
}

/* Borders */
.border-purple {
  border-color: var(--purple-color) !important;
}

.border-blue {
  border-color: var(--blue-color) !important;
}

/* Alerts */
.alert-purple {
  color: var(--purple-text-color);
  background-color: var(--purple-color);
  border-color: var(--purple-border-color);
}

.alert-blue {
  color: var(--blue-text-color);
  background-color: var(--blue-color);
  border-color: var(--blue-border-color);
}

/* Badges */
.badge-purple {
  color: var(--purple-text-color);
  background-color: var(--purple-color);
}

.badge-blue {
  color: var(--blue-text-color);
  background-color: var(--blue-color);
}

/* Add this CSS to your global stylesheet or a custom CSS file */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media screen and (max-width: 768px){
  nav {
    width: 90vw;
  }
}